<div class="content-list-search-bar onboarding-help" data-trigger="manual" data-container="body" data-toggle="popover" data-placement="top" data-content="Your content will be shown here.  For large lists, you can filter your content by the title, description, or content type.">
    <div class="col-md-8 col-sm-8">
        <span>Your Library Content</span>
    </div>
    <form class="col-md-4 col-sm-4 pull-right">
        <div class="input-group">
            {{view Ember.TextField valueBinding="filter" classNames="form-control" placeholder="Filter your content"}}
                        <span class="input-group-btn">
                            <button class="btn btn-primary myhome-tooltip" type="button" {{action "clearFilter"}} data-toggle="tooltip" data-placement="top" data-original-title="Reset Filter">
                                <i class="icon-remove-sign"></i>
                            </button>
                        </span>
        </div><!-- /.input-group -->
    </form>
</div>
<div class="subscription-content-list">
    {{#each item in filteredContent}}
    <div {{bindAttr class=":col-md-12 :col-sm-12 item.contentTypeCSSClass"}} >
    <div class="content-list-item-contracted">
        <div class="content-item-column">
            <div class="content-list-item-details" {{ action "goToItem" item }}>
            <div {{bindAttr class=":content-list-item-type item.contentType"}}>
            {{item.contentType}}
        </div>
        <!-- this is a spacer that is visible only for the small (tablet) sized devices -->
        <div class="clearfix package-title-sm-spacer visible-sm"></div>
        <p class="package-title">{{item.packageTitle}}</p>
        <div class="media">
            <img src="/ieeecs-HomepageSubscriptionContentList-portlet/images/default-content.jpg" class="pull-left media-object content-list-item-media-container" />
            <div class="media-body">
                <h4 class="media-heading">{{item.title}}</h4>
                <span class="text-muted">{{item.publisher}} {{#if item.shortSummary}}&middot;{{/if}}</span>
                {{item.shortSummary}}
            </div>
        </div>
    </div> <!-- /.content-list-item-details -->
    <div class="content-list-item-suboptions">
        <div class="suboptions-links col-md-4 col-sm-5 hide">
            <ul>
                <li>
                    <a href="#">
                        Like
                        <!-- TODO: if there are likes, show the amount here -->
                        <span class="badge">3</span>
                    </a>
                </li>
                <li>
                    <a href="#" {{ action "expandItem" item}}>
                    Comments
                    <!-- TODO: if there are comments, show the amount here -->
                    <span class="badge">26</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="suboptions-social col-md-2 col-sm-2">
            <a {{bindAttr href="item.shareTwitterLink"}} target="_blank"><i class="icon-twitter icon-fixed-width icon-2x"></i></a>
            <a {{bindAttr href="item.shareFacebookLink"}} target="_blank"><i class="icon-facebook icon-fixed-width icon-2x"></i></a>
        </div>
        <div class="suboptions-time col-md-1 col-sm-2 pull-right">
            <!-- TODO: have time this was added to bundle? 1d ago -->
        </div>
        <div class="pull-right col-md-1 col-sm-2 suboptions-expand-control hide">
            {{#if item.isExpanded}}
            <a href="#" {{ action "toggleItemExpand" item }}>Collapse</a>
            {{else}}
            <a href="#" {{ action "toggleItemExpand" item }}>Expand</a>
            {{/if}}
        </div>
    </div> <!-- /.content-list-item-suboptions -->
</div> <!-- /.content-list-item-contracted -->
{{#if item.isExpanded}}
<div class="content-item-expanded">
    <div class="comment-list-container">
        {{#if item.isCommentsVisible}}
        <a href="#" {{ action "toggleComments" item}}>
        Hide comments <i class="icon-caret-up icon-fixed-width"></i>
        </a>
        <ul class="list-unstyled">
            <li class="col-md-offset-1 col-sm-offset-1 col-md-11 col-md-11">
                <div class="col-md-1 col-sm-2 profile-img-container">
                    <img src="http://i.annihil.us/u/prod/marvel//universe3zx/images/3/33/Gambit442.jpg" class="profile-img-small"/>
                </div>
                <div class="col-md-10 col-sm-10">
                    <h6>Christoper Jones&nbsp;<span class="text-muted">12:04 PM</span></h6>
                    <p>This is the best article ever.  I really enjoy reading from the greats.</p>
                </div>
            </li>
            <li class="col-md-offset-1 col-sm-offset-1 col-md-11 col-sm-11">
                <div class="col-md-1 col-sm-2 profile-img-container">
                    <img src="http://1.images.comedycentral.com/images/show_images/600x400_chappellesshow.jpg?width=600&height=400&crop=true" class="profile-img-small"/>
                </div>
                <div class="col-md-10 col-sm-10">
                    <h6>Ricky Hatton&nbsp;<span class="text-muted">12:04 PM</span></h6>
                    <p>Aoccdrnig to a rscheearch at Cmabrigde Uinervtisy, it deosnt mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is taht the frist and lsat ltteers be at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit porbelm. Tihs is bcuseae the huamn mnid deos not raed ervey lteter by istlef, but the wrod as a wlohe.</p>
                </div>
            </li>
        </ul>
        {{else}}
        <a href="#" {{ action "toggleComments" item}}>
        26 comments <i class="icon-caret-down icon-fixed-width"></i>
        </a>
        {{/if}}
    </div>
    {{#if item.isInPreCommentMode}}
    <div class="pre-add-comment-form-${id}">
        <input type="text" class="form-control" placeholder="Add a comment..." {{action "showAddCommentForm" item}} />
    </div>
    {{else}}
    <div class="add-comment-form-container">
        <div class="add-comment-form">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-md-1 col-sm-1 profile-img-container">
                        <img class="profile-img-small" alt="$!{user_name}" src="/portal/image/user_male_portrait?img_id=$user.portraitId&t=1375672866971"/>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-1 col-sm-offset-1 col-md-10 col-sm-10">
                        <button type="submit" class="btn btn-primary" disabled>Post Comment</button>
                        <button class="btn btn-default" {{action "hideAddCommentForm" item}}>Cancel</button>
                    </div>
                </div>
            </form>
        </div> <!-- /.add-comment-form -->
    </div> <!-- /.add-comment-form-container -->
    {{/if}}
</div> <!-- /.content-item-expanded -->
{{/if}}
</div> <!-- /.content-item-column -->
<div class="content-done-column"><i class="icon-check-sign icon-3x"></i></div>
<div class="content-loading-column"><i class="icon-spinner icon-spin icon-large"></i> Loading</div>
</div> <!-- /.contentTypeCSSClass -->
{{/each}}
</div><!-- /.subscription-content-list -->