<!-- Show the inline edit button only if the user has those privileges -->
<c:if test="${canInlineEdit}">
    <span id="edit-featured-content-${id}" class="label label-default"><a class="inline-edit" {{action "editFeaturedContent"}}><i class="icon-edit-sign"></i>&nbsp;Edit</a></span>
</c:if>
{{#if isLayoutType1}}
<div class="layout-1-hero-${id} col-md-8 col-sm-8" {{action "goToContent" heroItem}}>
<img {{bindAttr src="heroItem.imageURL"}} />
{{#if heroItem.header}}
<div class="header-container col-md-5 col-sm-5">{{{heroItem.header}}}</div>
{{/if}}
<div class="title-container-bg-${id}"></div>
<span class="featured-content-title-${id}">{{{heroItem.shortTitle}}}</span>
</div>
<div class="col-md-4 col-sm-4">
    <div class="layout-1-featured-1-${id}"  {{action "goToContent" featuredPosition1}}>
    <img {{bindAttr src="featuredPosition1.imageURL"}} />
    {{#if featuredPosition1.header}}
    <div class="header-container col-md-5 col-sm-5">{{{featuredPosition1.header}}}</div>
    {{/if}}
    <div class="title-container-bg-${id}"></div>
    <span class="featured-content-title-${id}">{{{featuredPosition1.shortTitle}}}</span>
</div>
<div class="layout-1-featured-2-${id}"  {{action "goToContent" featuredPosition2}}>
<img {{bindAttr src="featuredPosition2.imageURL"}} />
{{#if featuredPosition2.header}}
<div class="header-container col-md-5 col-sm-5">{{{featuredPosition2.header}}}</div>
{{/if}}
<div class="title-container-bg-${id}"></div>
<span class="featured-content-title-${id}">{{{featuredPosition2.shortTitle}}}</span>
</div>
</div>
<div class="layout-1-hero-item-list col-md-8 col-sm-8">
    <div {{action "selectHero" heroItem1}} class="layout-1-hero-item-1 col-md-3 col-sm-3" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Hero item 1">
    <img {{bindAttr src="heroItem1.imageURL"}} />
</div>
<div {{action "selectHero" heroItem2}} class="layout-1-hero-item-2 col-md-3 col-sm-3">
<img {{bindAttr src="heroItem2.imageURL"}} />
</div>
<div {{action "selectHero" heroItem3}} class="layout-1-hero-item-3 col-md-3 col-sm-3">
<img {{bindAttr src="heroItem3.imageURL"}} />
</div>
<div {{action "selectHero" heroItem4}} class="layout-1-hero-item-4 col-md-3 col-sm-3">
<img {{bindAttr src="heroItem4.imageURL"}} />
</div>
</div>
<!-- NOTE: Phase 2 add this back in
<div class="layout-1-hero-more-links col-md-8 col-sm-8">
    <a hrer="#">More Influencer Content <i class="icon-double-angle-right"></i> </a>
</div>-->
{{/if}}


<!-- INLINE EDIT MODAL -->
<div class="modal fade" id="featured-content-edit-${id}" tabindex="-1" role="dialog" aria-labelledby="featuredContentPortalAdmin" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" {{action closeFeaturedContent}} aria-hidden="true">&times;</button>
                <h4 class="modal-title">Featured Content Administration</h4>
            </div>
            <div class="content-edit-nav-section">
                <ul class="nav nav-pills nav-justified">
                    <li class="active"><a data-toggle="pill" href="#layouts-section-${id}">Layouts</a></li>
                    <li><a data-toggle="pill" href="#items-section-${id}">Content Items</a></li>
                </ul>
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <!-- LAYOUTS TAB PANE -->
                    <div class="tab-pane active" id="layouts-section-${id}">
                            <div id="layouts-tab-content-${id}" class="tab-content">
                                <div class="col-md-12 col-sm-12">
                                    <h5>Active Layout <span class="label label-default">{{#if isLayoutType1 }} Layout 1 {{else}} No Layout Selected {{/if}}</span></h5>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">Select Layout <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li {{bindAttr class="isLayoutType1:active"}}><a href="#layout-1-${id}" data-toggle="tab">Layout 1</a></li>
                                        </ul>
                                    </div>
                                </div> <!-- /.col-md-12 .col-sm-12-->
                                <div {{bindAttr class=":tab-pane :fade :in isLayoutType1:active"}} id="layout-1-${id}">
                                    <div class="edit-layout-1-container col-md-12 col-sm-12">
                                        <div class="layout-1-hero-edit-${id} col-md-8 col-sm-8">
                                            <img src="//placehold.it/500x500&text=Hero+Section" />
                                            <div class="title-container-bg-${id}"></div>
                                            <span class="featured-content-title-${id}">Title of content</span>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="layout-1-featured-1-edit-${id}">
                                                <img src="//placehold.it/500x500&text=Featured+Section+1" />
                                                <div class="title-container-bg-${id}"></div>
                                                <span class="featured-content-title-${id}">Title of content</span>
                                            </div>
                                            <div class="layout-1-featured-2-edit-${id}">
                                                <img src="//placehold.it/500x500&text=Featured+Section+2" />
                                                <div class="title-container-bg-${id}"></div>
                                                <span class="featured-content-title-${id}">Title of content</span>
                                            </div>
                                        </div>
                                        <div class="layout-1-hero-item-list-edit col-md-8 col-sm-8">
                                            <div class="layout-1-hero-item-1-edit col-md-3 col-sm-3">
                                                <img src="//placehold.it/500x500&text=Hero+Item+1" />
                                            </div>
                                            <div class="layout-1-hero-item-2-edit col-md-3 col-sm-3">
                                                <img src="//placehold.it/500x500&text=Hero+Item+2" />
                                            </div>
                                            <div class="layout-1-hero-item-3-edit col-md-3 col-sm-3">
                                                <img src="//placehold.it/500x500&text=Hero+Item+3" />
                                            </div>
                                            <div class="layout-1-hero-item-4-edit col-md-3 col-sm-3">
                                                <img src="//placehold.it/500x500&text=Hero+Item+4" />
                                            </div>
                                        </div>
                                        <!-- NOTE: Phase 2 add this back in
                                        <div class="layout-1-hero-more-links-edit col-md-8 col-sm-8">
                                            <a href="#">More Influencer Content <i class="icon-double-angle-right"></i> </a>
                                        </div>
                                        -->
                                    </div> <!-- /.edit-layout-1-container -->
                                </div> <!-- /#layout1 -->
                        </div> <!-- /#layouts-tab-content -->
                </div> <!-- /#layouts-section-${id} -->

                <!-- ITEMS TAB PANE -->
                <div class="tab-pane" id="items-section-${id}">
                    <h5><i class="icon-info-sign icon-fixed-width"></i>Click on the item that you would like to change.</h5>
                    <div class="edit-item-layout-container">
                        <div class="layout-1-hero-edit-${id} col-md-8 col-sm-8">
                            <img {{bindAttr src="heroItem.imageURL"}} />
                            {{#if heroItem.header}}
                            <div class="header-container col-md-5 col-sm-5">{{{heroItem.header}}}</div>
                            {{/if}}
                            <div class="title-container-bg-${id}"></div>
                            <span class="featured-content-title-${id}">{{{heroItem.shortTitle}}}</span>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div id="layout-1-featured-1-edit-${id}" {{action "selectItemForEdit" featuredPosition1}} class="layout-1-featured-1-edit-${id}">
                            <img {{bindAttr src="featuredPosition1.imageURL"}} />
                            {{#if featuredPosition1.header}}
                            <div class="header-container col-md-5 col-sm-5">{{{featuredPosition1.header}}}</div>
                            {{/if}}
                            <div class="title-container-bg-${id}"></div>
                            <span class="featured-content-title-${id}">{{{featuredPosition1.shortTitle}}}</span>
                        </div>
                        <div id="layout-1-featured-2-edit-${id}" {{action "selectItemForEdit" featuredPosition2}} class="layout-1-featured-2-edit-${id}">
                        <img {{bindAttr src="featuredPosition2.imageURL"}} />
                        {{#if featuredPosition2.header}}
                        <div class="header-container col-md-5 col-sm-5">{{{featuredPosition2.header}}}</div>
                        {{/if}}
                        <div class="title-container-bg-${id}"></div>
                        <span class="featured-content-title-${id}">{{{featuredPosition2.shortTitle}}}</span>
                    </div>
                </div>
                <div class="layout-1-hero-item-list-edit col-md-8 col-sm-8">
                    <div id="layout-1-hero-item-1-edit-${id}" {{action "selectItemForEdit" heroItem1}} class="layout-1-hero-item-1-edit col-md-3 col-sm-3">
                    <img {{bindAttr src="heroItem1.imageURL"}} />
                </div>
                <div id="layout-1-hero-item-2-edit-${id}" {{action "selectItemForEdit" heroItem2}} class="layout-1-hero-item-2-edit col-md-3 col-sm-3">
                <img {{bindAttr src="heroItem2.imageURL"}} />
            </div>
            <div id="layout-1-hero-item-3-edit-${id}" {{action "selectItemForEdit" heroItem3}} class="layout-1-hero-item-3-edit col-md-3 col-sm-3">
            <img {{bindAttr src="heroItem3.imageURL"}} />
        </div>
        <div id="layout-1-hero-item-4-edit-${id}" {{action "selectItemForEdit" heroItem4}} class="layout-1-hero-item-4-edit col-md-3 col-sm-3">
        <img {{bindAttr src="heroItem4.imageURL"}} />
    </div>
</div>
<!-- NOTE: Removing more influential until Phase 2 <div class="layout-1-hero-more-links-edit col-md-8 col-sm-8"><a href="#">More Influencer Content <i class="icon-double-angle-right"></i> </a></div>-->
</div><!--/.edit-item-layout-container -->

<div class="edit-item-form-container">
    <div id="changed-item-alert-${id}" class="alert alert-block alert-warning fade hide">
        <button type="button" class="close" aria-hidden="true" {{ action "closeChangeAlert" }}>x</button>
        <h4><i class="icon-warning-sign icon-3x icon-fixed-width"></i>Whoa!</h4>
        <p>You will need to click the <strong>"Save Changes"</strong> button in order for your changes to
            be saved.</p>
        <a class="btn btn-default" href="#" {{ action "discardChanges"}}>Discard Changes</a>
    </div> <!-- /#changed-item-alert-${id} -->
    <div id="saved-item-alert-${id}" class="alert alert-block alert-success fade hide">
        <button type="button" class="close" aria-hidden="true" {{ action "closeSavedAlert" }}>x</button>
        <h4><i class="icon-check-sign icon-3x icon-fixed-width"></i>Changes Saved!</h4>
    </div><!-- /#saved-item-alert-${id} -->
    <div id="val-error-item-alert-${id}" class="alert alert-block alert-danger fade hide">
        <button type="button" class="close" aria-hidden="true" {{ action "closeValErrorAlert" }}>x</button>
        <h4><i class="icon-exclamation-sign icon-3x icon-fixed-width"></i>Please enter all required information.</h4>
    </div> <!-- /#val-error-item-alert-${id} -->
    <form role="form">
        <div class="form-group item-content-type-${id}">
            <label class="control-label" for="item-content-type-${id}">Content Type
                {{#if activeEditItem.type}}
                <span class="label label-info">{{activeEditItem.type}}</span>
                {{/if}}
            </label>
            {{view Ember.Select
            contentBinding="contentTypes"
            valueBinding="activeEditItem.contentType"
            classNames="form-control"}}
        </div>
        <div class="form-group item-header-${id}">
            <label class="control-label" for="item-header-${id}">Header</label>
            {{view Ember.TextField valueBinding="activeEditItem.header" classNames="form-control" placeholder="header"}}
            <p class="help-block">You can use html for the header.</p>
        </div>
        <div class="form-group item-title-${id}">
            <label class="control-label" for="item-title-${id}">Title</label>
            {{view Ember.TextField valueBinding="activeEditItem.title" classNames="form-control" placeholder="title"}}
        </div>
        <div class="form-group item-cid-${id}">
            <label class="control-label" for="item-cid-${id}">Content Id
                {{#if activeEditItem.idType}}
                <span class="label label-default"> {{activeEditItem.idType}}</span>
                {{/if}}
            </label>
            {{view Ember.TextField valueBinding="activeEditItem.cid" classNames="form-control" placeholder="doi or sku"}}
        </div>
        <div class="form-group item-imageURL-${id}">
            <label class="control-label" for="item-imageURL-${id}">Image URL</label>
            {{view Ember.TextField valueBinding="activeEditItem.imageURL" classNames="form-control" placeholder="url"}}
            <p class="help-block">Please use the full url, i.e http://www.art.com/345.jpg</p>
            <!-- NOTE: Phase 2 add this back in
            <p class="help-block">Or, you can also simply upload an image.</p>
            -->
        </div>
        <!-- NOTE: Phase 2 add this back in
        <div class="control-label" class="form-group">
          <label for="item-file-${id}">File input</label>
          <input type="file" id="item-file-${id}">
        </div>
        -->
    </form>
</div> <!-- .edit-item-form-container -->
</div> <!-- /#items-section-${id} -->
</div> <!-- /.tab-content -->
</div> <!-- /.modal-body -->
<div class="modal-footer">
    <button type="button" class="btn btn-default" {{action "closeFeaturedContent"}}>Close</button>
    <button type="button" {{bindAttr class=":btn :btn-primary activeEditItem.isDirty::disabled isSaving:disabled"}} {{ action "saveContent" }}>
    {{#if isSaving}}
    Saving...
    {{else}}
    Save changes
    {{/if}}
    </button>
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /INLINE EDIT MODAL -->