<script type="text/x-handlebars" data-template-name="search">
    <div class="col-md-5 col-sm-4 search-app">
        {{#view SearchApp.SearchFormView}}
        <div class="input-group">
            {{view Ember.TextField id="myhome-search-input" action="performSearch" valueBinding="searchText" classNames="form-control" placeholder="Search for articles, conferences and more..."}}
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" {{action 'setUpFullSearch'}}><i class="icon-search"></i></button>
                        </span>
        </div>
        {{/view}}
    </div>
    <div class="col-md-1 col-sm-1 advanced-search search-app">
        <a href="#"  {{action 'showAdvancedSearchModal'}}>Advanced</a>
    </div>
    <div class="search-results col-md-5 col-sm-5">
        <ul>
            {{#each item in content}}
            <li>
                <p{{action 'viewContentItem' item}} class="title">{{{item.title}}}</p>
                <p class="summary">{{{item.summary}}}</p>
            </li>
            {{/each}}
        </ul>
    </div>

    <div class="modal fade" id="advanced-search-modal">
        <div class="modal-dialog advanced-search-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close square-close" data-dismiss="modal" aria-hidden="true">
                        <i class="icon-remove"></i>
                    </button>
                    <div class="form-group input-group advanced-search-form">
                        {{view Ember.TextField id="myhome-advanced-search-input" valueBinding="advancedSearchText" classNames="form-control" placeholder="Search for articles, conferences and more..."}}
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" {{action 'performAdvancedSearch'}}>SEARCH</button>
                                </span>
                    </div>
                    <div class="filters-link-container">
                        <a id="disable-filters-link" href="#" {{ action 'disableFilters'}}>
                        Disable Filters <i class="icon-caret-up icon-fixed-width"></i>
                        </a>
                        <a id="enable-filters-link" href="#" {{ action 'enableFilters'}}>
                        Enable Filters <i class="icon-caret-down icon-fixed-width"></i>
                        </a>
                    </div>
                </div>
                <div class="advanced-search-filters-container">
                    <div class="form-group col-md-12 col-sm-12">
                        Content Types:
                        {{view Ember.Checkbox checkedBinding="filterByArticle"}} Article
                        {{view Ember.Checkbox checkedBinding="filterByWebinar"}} Webinar
                    </div>
                    <div class>
                        <div class="col-md-4 col-sm-4">
                            <div>
                                <label>From:</label>
                            </div>
                            <div id="advanced-search-dp-start-date" class="input-group col-md-8 col-sm-8">
                                {{view Ember.TextField id="advanced-search-start-date" valueBinding="advancedSearchStartDate" classNames="form-control datepicker" placeholder="YYYY-MM-DD"}}
                                <span class="input-group-addon"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div>
                                <label>To:</label>
                            </div>
                            <div id="advanced-search-dp-end-date" class="input-group col-md-8 col-sm-8">
                                {{view Ember.TextField id="advanced-search-end-date" valueBinding="advancedSearchEndDate" classNames="form-control datepicker" placeholder="YYYY-MM-DD"}}
                                <span class="input-group-addon"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="advanced-result-count-container">
                        <h6>{{numberOfAdvancedResults}} RESULTS FOUND</h6>
                    </div>
                    <div class="advanced-search-results">
                        {{#each item in controller.paginatedContent}}
                        <div class="advanced-search-result">
                            {{#unless item.isNoResult}}
                            <span {{bindAttr class=":badge item.contentType"}}>{{item.contentType}}</span>
                            {{/unless}}
                            <h5><a href="#" {{action 'viewContentItem' item}}>{{{item.title}}}</a></h5>
                            <p class="summary">{{{item.summary}}}</p>
                            <div {{ bindAttr class=":alert :alert-block :alert-success :fade :hide item.confirmId :success" }}>
                            <button type="button" class="close" aria-hidden="true" {{ action 'hideAddBundleSuccess' item.confirmId }}>x</button>
                            <h4><i class="icon-check-sign icon-3x icon-fixed-width"></i>Added To Bundle!</h4>
                        </div> ## /.success
                        <div {{ bindAttr class=":alert :alert-block :alert-danger :fade :hide item.confirmId :error" }}>
                        <button type="button" class="close" aria-hidden="true" {{ action 'hideAddBundleError' item.confirmId}}>x</button>
                        {{#unless bundleLimitError}}
                        <p>
                            <i class="icon-warning-sign icon-3x icon-fixed-width"></i>
                            Your bundle is at its limit, would you like to increase the size?
                            <a class="btn btn-default" href="#" {{ action 'goToBundlePurchase' item }}>Make it happen</a>
                        </p>
                        {{else}}
                        <h4><i class="icon-exclamation-sign icon-3x icon-fixed-width"></i>There was a problem adding this item to your bundle, please try again or contact help@computer.org.</h4>
                        {{/unless}}
                    </div> ## /.error
                    <div {{ bindAttr class=":alert :alert-block :alert-warning :fade :hide item.confirmId :warning" }}>
                    <button type="button" class="close" aria-hidden="true"  {{ action 'hideAddBundleConfirm' item.confirmId }}>x</button>
                    <p>
                        <i class="icon-warning-sign icon-3x icon-fixed-width"></i>
                        Are you sure you would like to add this item to your bundle?
                        <button {{bindAttr class=":btn :btn-default item.isSavingToBundle:disabled"}} {{ action 'addItemToBundle' item item.confirmId}} >
                        {{#unless item.isSavingToBundle }}
                        Yes
                        {{else}}
                        Please Wait
                        {{/unless}}
                        </button>
                    </p>
                </div> ## /.warning
                {{#unless item.isNoResult}}
                <a href="#" {{ bindAttr class=":btn :btn-info :btn-xs item.hasFullAccess:hide"}} {{ action 'showAddBundleConfirm' item.confirmId }} >Add To Bundle</a>
                {{/unless}}
            </div>
            {{/each}}
        </div> ## /.advanced-search-results
        {{#unless noResultsFound}}
        <div class="advanced-search-pagination">
            <ul class="pagination pagination-sm">
                {{#unless hasPrevPage}}
                <li class="disabled"><a href="#">&laquo;</a></li>
                {{else}}
                <li>{{#linkTo 'search.page' prevPage target="controller"}}&laquo;{{/linkTo}}</li>
                {{/unless}}
                {{#each pages}}
                {{view SearchApp.PaginationView contentBinding="this"}}
                {{/each}}
                {{#unless hasNextPage}}
                <li class="disabled"><a href="#">&raquo;</a></li>
                {{else}}
                <li>{{#linkTo 'search.page' nextPage target="controller"}}&raquo;{{/linkTo}}</li>
                {{/unless}}
            </ul>
        </div> ## /.advanced-search-pagination
        {{/unless}}
    </div>
    </div>## /.modal-content
    </div>## /.modal-dialog
    </div>## /#advanced-search-modal
</script>